
<div class='container mt-100'>
  <p id="notice"><%= notice %></p>

<p>
  <strong>Name:</strong>
  <%= @business.name %>
</p>

<p>
  <strong>Street:</strong>
  <%= @business.street %>
</p>

<p>
  <strong>City:</strong>
  <%= @business.city %>
</p>

<p>
  <strong>State:</strong>
  <%= @business.state %>
</p>

<p>
  <strong>Country:</strong>
  <%= @business.country %>
</p>

<p>
  <strong>Phone:</strong>
  <%= @business.phone %>
</p>

<p>
  <strong>Zipcode:</strong>
  <%= @business.zipcode %>
</p>

<p>
  <strong>Email:</strong>
  <%= @business.email %>
</p>

<p>
  <strong>Facebook:</strong>
  <%= @business.facebook %>
</p>

<p>
  <strong>Instagram:</strong>
  <%= @business.instagram %>
</p>

<p>
  <strong>Youtube:</strong>
  <%= @business.youtube %>
</p>

<p>
  <strong>Twitter:</strong>
  <%= @business.twitter %>
</p>

<p>
  <strong>Logo:</strong>
  <%= @business.logo %>
</p>

<p>
  <strong>Operator:</strong>
  <%= @business.operator %>
</p>

<%= link_to 'Edit', edit_business_path(@business), class: 'btn btn-danger' %>   
</div>
