
<div id="userShow">
  <div class="container about-artist mt-65 pb-4" style="background: url('<%= asset_url "broken_noise.png"%>');">
    <div class='row'>
      <div class="col-md-6">
        <%= render partial: '/users/avatar' %>
      </div>
      <div class="col-md-6" style="padding: 3em;">
        <div class=" h-100 text-center align-items-center">
          <h2 class="text-uppercase">About <%= @user.first_name %></h2><br>
          <h5 class="align-items-center"><em><%= @user.bio %></em></h5>
        </div>
      </div>      
    </div>
  </div>

  <!-- user gallery section -->
  <section class="gallery-block compact-gallery">
    <div class="container">
      <div class="heading">
        <h2 class="m-5 text-center text-uppercase"><%= @user.first_name %>'s Inks</h2>
      </div>
      <div class="instagram_feed instagram-feed" id="artistGallery"></div>
    </div>
  </section>
</div>

<script>

  $(document).ready(function(){
    $.instagramFeed({
      'username': '<%= @user.hashtag.gsub(/\s+/, '').gsub(/\W/, ' ') if @user.hashtag.present? %>', // or tagging
      'container': ".instagram-feed",
      'callback': null,
      'styling': false,
      'display_gallery': true,
      'items': 36,
      'items_per_row': 10,
      'margin': 0
    });
  });     

// Prevent lightbox if mobile
 $(document).ready( function() {
    if ($(window).width() <= 480) {
      $(".lightbox").remove();
      $(".lightboxOverlay").remove();  
    }
  });

</script>





