<p id="notice"><%= notice %></p>

<h1>Business Hours</h1>

<table>
  <thead>
    <tr>
      <th>Business</th>
      <th>Day</th>
      <th>Open time</th>
      <th>Close time</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @business_hours.each do |business_hour| %>
      <tr>
        <td><%= business_hour.business %></td>
        <td><%= business_hour.day %></td>
        <td><%= business_hour.open_time %></td>
        <td><%= business_hour.close_time %></td>
        <td><%= link_to 'Show', business_hour %></td>
        <td><%= link_to 'Edit', edit_business_hour_path(business_hour) %></td>
        <td><%= link_to 'Destroy', business_hour, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Business Hour', new_business_hour_path %>
