<!-- Header Section -->
<div class="uptop">
  <div class="overlay"></div>
    <video class="video" playsinline="playsinline" autoplay="autoplay" muted="muted" loop="loop">
      <source src="<%= asset_url 'tattoo.mp4'%>" type="video/mp4">
    </video>
  <div class="container h-100">
    <div class="d-flex h-100 text-center align-items-center">
      <div class="w-100 text-white">
        <span id="notice" style="color:red;"><em><%= notice %></em></span>
        <h1 class="display-3"><%= @business.name %></h1>
        <h2>Tattoo & Art Studio</h2>
        <p class="text-white">WELCOME TO OUR WEBSITE!</p>
      </div>
      <a id="scroll-down" class="scroll animated bounce"><i class="fas fa-chevron-down"></i></a>
    </div>
  </div>
</div>

<!-- About -->
<section id="about" style="background: url('<%= asset_url "broken_noise.png"%>');">
  <div class="contain">
    <div class="row">
      <div class="col-md-6" style="padding: 3em;">
        <div class="d-flex h-100 text-center align-items-center">
        <h2><em>"<%= @business.bio %>"</em></h2>
        </div>
      </div>
      <div class="col-md-6" style="padding:0;">
        <div class="d-flex h-100 text-center align-items-center">
        <%= image_tag("jumbo-img.jpg", class: "img-fluid d-block mx-auto", style:"transform: scaleX(-1);") %>
        </div>
      </div>
    </div>
  </div>
</section>

<!-- Booking button -->
<button class="booking-launch-button btn-md" onclick="showBooking()">
  <div class="booking-button-text">Book Now</div>
</button>
<div id="bookingContainer" class="shadow">
  <div class="booking-top-bar" data-reactid=".0.5.0">
    <div class="booking-top-bar-text"><%= @business.phone if @business.phone.present? %><i class="fas fa-phone"></i>&nbsp;&nbsp;<% if @business.messenger.present? %><a href="https://www.messenger.com/t/<%= @business.messenger%>/"  target="_blank" style='color:inherit;'>Message Us <i class="fab fa-facebook-messenger" style='color: #1191f3;'></i> </a><% end %></div>
    <div class="booking-top-bar-button" onclick="hideBooking()">
      <i class="fas fa-chevron-down"></i>
    </div>
  </div>
  <div class="form-border h-100">
   <%= render :partial =>"/requests/form" %>
  </div>
</div>

<!-- Services -->
<section class="py-5" id="services" style="background-color: #212429f5;">
  <%= render :partial => "welcome/services" %>
</section>

<!-- Team -->
<section class="py-5 parallax" id="team" style="background-color: #dcdcdc3d;">
  <%= render :partial => "welcome/team" %>
</section>

<!-- Gallery -->
<section class="py-5" id="gallery" style="background-color: #212429f5;">
  <%= render :partial => "welcome/new_ink" %>
</section>

<!-- Booking Button show/hide -->
<script>
 function hideBooking() {
    var el = document.getElementById('bookingContainer');
        el.style.display = 'none';
  } 

 function showBooking() {
    var el = document.getElementById('bookingContainer');
        el.style.display = 'block';
  } 
 
 $("#scroll-down").click(function() {
    $('html, body').animate({
        scrollTop: $("#about").offset().top
    }, 500);
});
</script>