<style>
.uptop {
  position: relative;
  background-color: black;
  height: 100vh;
  min-height: 25rem;
  width: 100%;
  overflow: hidden;
}

 .uptop video {
  position: absolute;
  top: 50%;
  left: 50%;
  min-width: 100%;
  min-height: 100%;
  width: auto;
  height: auto;
  z-index: 0;
  -ms-transform: translateX(-50%) translateY(-50%);
  -moz-transform: translateX(-50%) translateY(-50%);
  -webkit-transform: translateX(-50%) translateY(-50%);
  transform: translateX(-50%) translateY(-50%);
}

 .uptop .container {
  position: relative;
  z-index: 2;
}

 .uptop .overlay {
  position: absolute;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
  background-color: black;
  opacity: 0.5;
  z-index: 1;
}

.uptop h1 {
  font: 400 100px/0.8 'Arizonia', Helvetica, sans-serif;
  color: #efecec;
  text-shadow: 4px 4px 0px rgba(0,0,0,0.1);
}

.uptop h2 {
  font: 400 25px/3.3 !important ;
  color: #efecec;
  text-shadow: 4px 4px 0px rgba(0,0,0,0.1);
}

.uptop p{
  margin-top:20px;
  letter-spacing: 5px;
  color: #dcdcdc!important;
}


.uptop a#scroll-down {
    display: block;
    width: 60px;
    height: 60px;
    position: absolute;
    left: 50%;
    margin-left: -30px;
    bottom: 5rem;
    z-index: 999;
    border-radius: 50px;
    border: 2px solid #fff;
    color: #fff;
}

.uptop i {
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    /*font-family: 'FontAwesome';*/
    content: "\f078"
    font-weight: 200!important;
    text-decoration: none!important;
    line-height: 1;
    top: 20px;
    left: 18px;
    font-size: 20px;
    position: absolute;
}

@media (pointer: coarse) and (hover: none) {
  header {
    background: url('<%= asset_url "jumbo-img.jpg"%>') black no-repeat center center scroll;
  }
  header video {
    display: none;
  }
}

a#scroll-down:hover, a#top-arrow:hover, input[type='submit'], input[type='reset'], .wolf-button, .button, .add_to_cart_button, .wolf-show-ticket-button{
     background:#c74735;
     border-color:#c74735;
}


@media (max-width: 1000px) {

  #product img {
    width: 80px!important;
    height: 14px!important;

  }
  #product .col-md-3{
  width:25%;
  }
}
@media (max-width: 800px) {
  .uptop h1 {
    font: 400 40px/1.1 'Arizonia', Helvetica, sans-serif;
  }

  .uptop p{
    font-size: x-small;
  }

  .uptop h2 {
  font-size: larger;
  }

  #about {
    padding-top: 50px;
  }
}

@media (max-width: 500px){
      #about h2{
      font-size: 32px;
    }
}

  @media (max-height: 450px) and (min-height: 350px) {
    .uptop h1 {
      font: 400 60px/0.8 'Arizonia', Helvetica, sans-serif;
    }

    .uptop p{
      font-size: medium;
      padding-bottom: 30px;
    }

    .uptop h2 {
      font-size: larger;
    }

    .uptop a#scroll-down {
      margin-bottom: -30px;
    }

    #about h2{
      font-size: inherit;
    }
  }


  @media only screen and (device-width: 768px) {
    /* For general iPad layouts */
    .uptop h1 {
      font: 400 80px/1.3 'Arizonia', Helvetica, sans-serif;
    }
    
    .uptop h2 {
    font-size: larger;
    }

    .uptop p{
      font-size: medium;
    }
    #about h2{
      font-size: inherit;
    }
  }

  @media only screen and (device-width: 1024px) {
    .uptop p{
      font-size: x-large;
    }
    .uptop h1 {
      font: 400 100px/2.3 'Arizonia', Helvetica, sans-serif;
    }

    .uptop h2 {
    font: 400 25px/3.3 ;
    }
  }
  /* !mobile section */

  p {
    font-size: 1rem;
    font-weight: 400;
    line-height: 1.75;
    color: #6c757d;
    font-family: 'Roboto Slab',-apple-system,BlinkMacSystemFont,'Segoe UI',Roboto,'Helvetica Neue',Arial,sans-serif,'Apple Color Emoji','Segoe UI Emoji','Segoe UI Symbol','Noto Color Emoji';
  }
  /*services section*/

  #services h2, #gallery h2{
    color: #dcdcdc;
    font-size: 40px;
    margin-top: 0;
    margin-bottom: 15px;
    font-weight: 700;
    font-family: Montserrat,-apple-system,BlinkMacSystemFont,'Segoe UI',Roboto,'Helvetica Neue',Arial,sans-serif,'Apple Color Emoji','Segoe UI Emoji','Segoe UI Symbol','Noto Color Emoji';
  }

  #services h4{
    color:#dcdcdc;
    font-size: 1.5rem;
    font-weight: 700;
    font-family: Montserrat,-apple-system,BlinkMacSystemFont,'Segoe UI',Roboto,'Helvetica Neue',Arial,sans-serif,'Apple Color Emoji','Segoe UI Emoji','Segoe UI Symbol','Noto Color Emoji';
  }

  #services h3, #gallery h3 {
    color:#a7abaf;
    font-size: 16px;
    font-weight: 400;
    font-style: italic;
    margin-bottom: 40px;
    text-transform: none;
    font-family: 'Droid Serif',-apple-system,BlinkMacSystemFont,'Segoe UI',Roboto,'Helvetica Neue',Arial,sans-serif,'Apple Color Emoji','Segoe UI Emoji','Segoe UI Symbol','Noto Color Emoji';
  }

  #services .fa-stack i {
    border-radius: 100%;
    outline: none;
    background-color: #c74735;

  }

  #services p{
    color:#a7abaf;

  }
  .service-heading {
    margin-top: 10px;
  }
  #services h3 a{
    text-decoration: none;
  }
  #services .section-footer {
    margin-top: 31px;
    margin-bottom: -35px;
  }

  /*!services

  /******* Team members section **********/

  #team h2 {
    font-size: 40px;
    font-weight: 700;
    font-family: Montserrat,-apple-system,BlinkMacSystemFont,'Segoe UI',Roboto,'Helvetica Neue',Arial,sans-serif,'Apple Color Emoji','Segoe UI Emoji','Segoe UI Symbol','Noto Color Emoji';
  }
  #team h4 {
    margin-top: -15px;
    margin-bottom: 1.5rem;
    font-size: 1.5rem;
    font-weight: 700;
    font-family: Montserrat,-apple-system,BlinkMacSystemFont,'Segoe UI',Roboto,'Helvetica Neue',Arial,sans-serif,'Apple Color Emoji','Segoe UI Emoji','Segoe UI Symbol','Noto Color Emoji';
  }


  .team-member p {
    margin-top: -25px;
  }

  .team-member img {
    margin-bottom: 15px;
  }
  .team-member {
    margin-bottom: 50px;
    text-align: center;
  }

  .team-member img {
    width: 225px;
    height: 225px;
    margin-bottom: 30px
/*    border: 7px solid #eef4f5;

*/  }

  .team-member h4 {
    margin-top: 25px;
    margin-bottom: 0;
    text-transform: none;
  }

  .team-member p {
    margin-top: 0;
  }
  #team p {
    color:white!important;
    text-shadow: 4px 4px 0px rgba(0,0,0,0.1);
  }
/******* BOOK NOW BUTTON section **********/

.booking-launch-button {
    position: fixed !important;
    bottom: 15px !important;
    right: 20px !important;
    left: auto !important;
    height: 48px !important;
    width: auto !important;
    z-index: 1031 !important;
    background: #cc4330 !important;
    border: 0 !important;
    border-radius: 100px !important;
    box-shadow: 0 3px 15px 0 rgba(0,0,0,0.25) !important;
    box-sizing: border-box !important;
    padding: 0 20px !important;
    transition: all .4s,bottom .8s ease-in-out !important;
    cursor: pointer !important;
    outline: none !important;
    display: inline-block !important;
    margin: 0 !important;
    -webkit-font-smoothing: antialiased !important;
    -webkit-tap-highlight-color: rgba(0,0,0,0) !important;
}

.booking-launch-button .booking-button-text {
    color: #fff !important;
    display: inline-block !important;
    font-size: 1.3em !important;
    line-height: 48px !important;
    font-weight: bold !important;
    max-width: 200px !important;
    overflow: hidden !important;
    text-overflow: ellipsis !important;
    vertical-align: top !important;
    white-space: nowrap !important;
    padding: 0 !important;
    transition: .6s ease-in-out !important;
}
@media (max-width: 800px){
  #bookingContainer {
    display: none;
    max-height: 100% !important;
    border-radius: 0 0 0 0 !important;
    transition: all .6s ease-in-out,width .2s ease-in-out,top .4s ease-in-out !important;
    background: #fff !important;
    position: fixed !important;
    bottom: 0 !important;
    right: 0 !important;
    top: 0 !important; 
    width: 100% !important;
    height: 100% !important;
    color: #000 !important;
    line-height: 2 !important;
    text-align: left !important;
    z-index: 1031 !important;
    zoom: 0 !important;
    transition: .3s ease-in-out !important;
    -webkit-font-smoothing: antialiased !important;
    overflow: auto
}
  .booking-top-bar {
    padding-bottom: 50px;
    height: 40px !important;
    border-radius: 0 !important;
    /*background-color: #d11c13 !important;*/
    color: #ffffff !important;
    /*border-color: #bb1a11 !important;*/
  }
  .booking-launch-button .booking-button-text {
    font-size: 1.3em !important; 
    line-height: 34px !important;
  }
  .booking-launch-button {
    height: 31px !important
  }
}

@media only screen 
and (min-device-width : 768px) 
and (max-device-width : 1024px) 
and (orientation : landscape) {

}

@media (min-width: 800px){
#bookingContainer {
    display: none;
    width: 350px !important;
    height: 450px !important;
    max-height: 95% !important;
    border-radius: 10px !important;
    top: inherit !important;
    transition: all .6s ease-in-out,width .2s ease-in-out,top .4s ease-in-out !important;
    right: 20px !important;
    bottom: 10px !important;
    background: #fff !important;
    position: fixed !important;
    height: 70% !important;
    color: #000 !important;
    line-height: 1 !important;
    text-align: left !important;
    z-index: 1031 !important;
    zoom: 0 !important;
    transition: .3s ease-in-out !important;
    -webkit-font-smoothing: antialiased !important;
    margin-bottom: 40px;
}
.booking-top-bar {
  padding-bottom: 50px;
  height: 40px !important;
  border-radius: 10px 10px 0 0 !important;
  /*background-color: #c74735 !important;*/
  color: #ffffff !important;
  /*border-color: #c74735 !important;*/
}
}
.booking-top-bar-text {
    color: #fff !important;
    font-size: 15px;
    /* font-weight: 700 !important; */
    letter-spacing: 0.5px !important;
    line-height: 52px !important;
    text-decoration: none !important;
    padding: 0 0 0 15px !important;
    white-space: nowrap !important;
    float: left !important;

}
 .booking-top-bar-button {
    
    height: 100% !important;
    width: 60px !important;
    float: right !important;
    padding: 20px 22px !important;
    box-sizing: border-box !important;
    cursor: pointer !important;
    transition: all ease-out .15s !important;
    outline: none !important;
    margin-top: -3px!important;
}
@media (max-width: 500px){
  .booking-top-bar-button {
  margin-top: -10px !important;
  }
}
.form-border{
  padding: 10px;
}

#sign-in {
  z-index: 2147483648 !important;
}

.logos{
  width:210px;
  height: 66.56px!important;
}
.carousel {
  margin-top: 55px;
}
.carousel-item,
.active {
    height: 100vh;
    width: 100%;
    overflow:hidden;
}
.carousel .carousel-inner {
    height:100%;    
}
.fill {
    width: 100%;
    height: 100vh;
    background-size: cover;
    background-repeat: no-repeat;
    background-color: white;
    background-position: center;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    background-size: cover;
    -o-background-size: cover;
}

@media (max-width: 1050px) {
  .fill, .carousel-inner, .active {
    height: 40vh!important;
    width: 100%!important;
    background-size: 100% 100%!important;
    background-position: right 0px!important;
  }
}


@-webkit-keyframes move {
100% { 
    transform: translateX(-1200%);  
  }
}


#gallery, #services, #about h2, #team h2, #team h4{
  color:#dcdcdc!important;
  text-shadow: 4px 4px 0px rgba(0,0,0,0.1);
}
#about .contain {
  max-width: 100%;
  margin:auto;
  padding-right: 15px;
  padding-left: 15px;
}

.form-border, #bookingContainer {
  background: url('<%= asset_url "broken_noise.png"%>')!important;
  color:white!important;
}
.form-border .btn {
  width: 100%!important;
}

  .parallax {
  /* The image used */
  background-image: url('<%= asset_url "parallax.jpg"%>');
  min-height: 700px; 

  background-attachment: fixed;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}


</style>



<div class="uptop">
  <div class="overlay"></div>
    <video class="video" playsinline="playsinline" autoplay="autoplay" muted="muted" loop="loop">
      <source src="<%= asset_url 'tattoo.mp4'%>" type="video/mp4">
    </video>
  <div class="container h-100">
    <div class="d-flex h-100 text-center align-items-center">
      <div class="w-100 text-white">
        <span id="notice" style="color:red;"><em><%= notice %></em></span>
        <h1 class="display-3"><%= @business.name %></h1>
        <h2>Tattoo & Art Studio</h2>
        <p class="text-white">WELCOME TO OUR WEBSITE!</p>
      </div>
      <a id="scroll-down" class="scroll animated bounce"><i class="fas fa-chevron-down"></i></a>
    </div>
  </div>
</div>

<!-- About -->
<section id="about" style="background: url('<%= asset_url "broken_noise.png"%>');">
  <div class="contain">
    <div class="row">
      <div class="col-md-6" style="padding: 3em;">
        <div class="d-flex h-100 text-center align-items-center">
        <h2><em>"<%= @business.bio %>"</em></h2>
        </div>
      </div>
      <div class="col-md-6" style="padding:0;">
        <div class="d-flex h-100 text-center align-items-center">
        <%= image_tag("jumbo-img.jpg", class: "img-fluid d-block mx-auto", style:"transform: scaleX(-1);") %>
        </div>
      </div>
    </div>
  </div>
</section>
<!-- Book Now button for requests -->
<button class="booking-launch-button btn-md" onclick="showBooking()">
  <div class="booking-button-text">Book Now</div>
</button>
<div id="bookingContainer" class="shadow">
  <div class="booking-top-bar" data-reactid=".0.5.0">
    <div class="booking-top-bar-text"><%= @business.phone if @business.phone.present? %><i class="fas fa-phone"></i>&nbsp;&nbsp;<% if @business.messenger.present? %><a href="https://www.messenger.com/t/<%= @business.messenger%>/"  target="_blank" style='color:inherit;'>Message Us <i class="fab fa-facebook-messenger" style='color: #1191f3;'></i> </a><% end %></div>
    <div class="booking-top-bar-button" onclick="hideBooking()">
      <i class="fas fa-chevron-down"></i>
    </div>
  </div>
  <div class="form-border h-100">
   <%= render :partial =>"/requests/form" %>
  </div>
</div>

<!-- Services -->
<section class="py-5" id="services" style="background-color: #212429f5;">
  <%= render :partial => "welcome/services" %>
</section>

<!-- Team -->
<section class="py-5 parallax" id="team" style="background-color: #dcdcdc3d;">
  <%= render :partial => "welcome/team" %>
</section>

<!-- Gallery -->
<section class="py-5" id="gallery" style="background-color: #212429f5;">
  <%= render :partial => "welcome/new_ink" %>
</section>

<!-- Booking Button show/hide -->
<script>
 function hideBooking() {
    var el = document.getElementById('bookingContainer');
        el.style.display = 'none';
  } 

 function showBooking() {
    var el = document.getElementById('bookingContainer');
        el.style.display = 'block';
  } 
 
 $("#scroll-down").click(function() {
    $('html, body').animate({
        scrollTop: $("#about").offset().top
    }, 500);
});
</script>


<!-- diamond gallery -->
<!-- <script src="http://code.jquery.com/jquery-latest.min.js"></script>
<script type="text/javascript" src="jquery.diamonds.js"></script>  -->