<div class="container mt-100 mb-5">
  <center class='mb-5'><h1> Request Edit</h1></center>
  <div class="row">
    <div class="col-md-2">
    </div>
    <div class="col-md-8 shadow">	
    
    <%= simple_form_for @request do |f| %>
      <%= f.error_notification %>
      <%= f.error_notification message: f.object.errors[:base].to_sentence if f.object.errors[:base].present? %>
      <center><%= f.input :reviewed, label: "Has message been Reviewed by Staff" %></center>
      First Name

      <%= f.input :first_name, label: false %>
      Last Name
      <%= f.input :last_name, label: false %>
      Your Phone Number 
      <%= f.input :phone_number, label: false %>
      Your Email
      <%= f.input :email, label: false %>
      Subject
      <%= f.input :subject, collection: ['Schedule Consult','Request Artist','Other'], label: false %>
      Your Message 
      <%= f.input :message, :input_html => {:rows => 2}, label: false %>
      <p class="hint-text text-center small text">Our staff members will contact you soon.</p>
      <center class="mb-3">
      <%= f.button :submit, class: "btn btn-danger btn-large mb-1" %>
      <% end %>
      <%= link_to 'Back', requests_path, class: 'btn btn-info' %>
      </center>   
    </div>
    <div class="col-md-2">
    </div>
  </div>
</div>