
<style>
.form-check {
    margin-top: -20px;
}
@media (max-width: 800px) {
  .form-check-label {
    margin-left: 15px!important;
  }
  input[type=checkbox] {
    width: 20px!important;
    height: 20px!important;
    margin-left: -14px!important;
    margin-top: 14px!important;
  }
}

.form-check-label {
    margin-top: 8px;
    height: 30px;
    font-size: 17px;
    font-weight: 700;
    margin-left: 5px;
}


input[type=checkbox] {
    width: 30px;
    height: 30px;
    margin-right: 8px;
    cursor: pointer;
    font-size: 20px;
}

</style>

<div class="container mt-100 mb-5">
  <center class='mb-5'><h1> Request Edit</h1></center>
  <div class="row">
    <div class="col-md-2">
    </div>
    <div class="col-md-8 shadow">	
    
    <%= simple_form_for @request do |f| %>
      <%= f.error_notification %>
      <%= f.error_notification message: f.object.errors[:base].to_sentence if f.object.errors[:base].present? %>
      <center><%= f.input :reviewed, label: "Has message been Reviewed by Staff" %></center>
      First Name

      <%= f.input :first_name, label: false %>
      Last Name
      <%= f.input :last_name, label: false %>
      Your Phone Number 
      <%= f.input :phone_number, label: false %>
      Your Email
      <%= f.input :email, label: false %>
      Subject
      <%= f.input :subject, collection: ['Schedule Consult','Request Artist','Other'], label: false %>
      Your Message 
      <%= f.input :message, :input_html => {:rows => 2}, label: false %>
      <p class="hint-text text-center small text">Our staff members will contact you soon.</p>
      <center class="mb-3">
      <%= f.button :submit, class: "btn btn-danger btn-large mb-1" %>
      <% end %>
      <%= link_to 'Back', requests_path, class: 'btn btn-info' %>
      </center>
          
    
    </div>
    <div class="col-md-2">
    </div>
  </div>
</div>

<script>
// jquery to set select for stylists that have such service  

jQuery(function() {
  var stylist;
  stylist = $('#request_stylist_id').html();
  return $('#request_service_id').change(function() {
    var service, escaped_service, options;
    service = $('#request_service_id :selected').text();
    escaped_service = service.replace(/([ #;&,.+*~\':"!^$[\]()=>|\/@])/g, '\\$1');
    options = $(stylist).filter("optgroup[label=" + escaped_service + "]").html();
    if (options) {
      $('#request_stylist_id').html(options);
      return $('#stylist_select').show();
      // return $('#request_stylist_id').parent().show();
    } else {
      $('#request_stylist_id').empty();
      return $('#request_stylist_id').parent().hide();
       $('#stylist_select').hide();
    }
  });
});

jQuery(function() {
  var stylist;
  stylist = $('#request_stylist_id').html();
  return $(document).ready(function() {
    var service, escaped_service, options;
    service = $('#request_service_id :selected').text();
    escaped_service = service.replace(/([ #;&,.+*~\':"!^$[\]()=>|\/@])/g, '\\$1');
    options = $(stylist).filter("optgroup[label=" + escaped_service + "]").html();
    if (options) {
      $('#request_stylist_id').html(options);
      return $('#stylist_select').show();
      // return $('#request_stylist_id').parent().show();
    } else {
      $('#request_stylist_id').empty();
      return $('#request_stylist_id').parent().hide();
       $('#stylist_select').hide();
    }
  });
});
// ajax call to autfill form if user is admin

$("#request_user_id").change(function() {
  $.ajax({
      url: '/autofill',
      type: 'GET',
      data: { user_id: $(this).val() },
      dataType: 'json',
      success: function(response){
        user = response
        // unhide extra fields in form
        $( "#extraFields" ).show()
        // autfill extra fields
        $( "#request_first_name").val(user.first_name);
        $( "#request_last_name").val(user.last_name);
        $( "#request_phone_number").val(user.phone_number);
        $( "#request_email").val(user.email);
      },
      error: function(response) {
        console.log(response)
      }
  })
});

</script>


