<nav class="navbar navbar-expand-lg shadow navbar-dark fixed-top" id="mainNav">

  <div class="container">
    <!-- navbar brand section and toggle section -->
    <%= link_to "Pleasant Dreams Co.", root_path, class: "navbar-brand  js-scroll-trigger font-weight-bold " %>
    <button class="navbar-toggler navbar-toggler-right mr-2" type="button" data-toggle="collapse" data-target="#navbarResponsive" aria-controls="navbarResponsive" aria-expanded="false" aria-label="Toggle navigation">
      <i class="fas fa-bars" style="color: white;"></i>
      <% if signed_in? %>
        <% if pending_requests > 0 && (current_user.admin? || current_user.operator?) %>
          
          <i class="fas fa-bell ring" style="color:red;font-size: 1rem;"></i>
        <% end %>
      <% end %>
    </button>

    <div class="collapse navbar-collapse" id="navbarResponsive">
      <!-- custom navbar links for welcome page only   -->
      <ul class="navbar-nav text-uppercase ml-auto">
 
        <li class="nav-item"data-toggle="collapse" data-target=".navbar-collapse.show" >
          <% if controller_name == 'welcome' %>
            <span class="nav-link js-scroll-trigger", id="inkslink">Fresh Inks</span>
          <% else %>
            <%= link_to "Fresh Inks", root_path(anchor: "gallery"), class: "nav-link js-scroll-trigger", id: "inkslink" %>
          <% end %>
        </li>

        <li class="nav-item" data-toggle="collapse" data-target=".navbar-collapse.show">
          <% if controller_name == 'welcome' %>
            <span class="nav-link js-scroll-trigger", id="serviceslink">Services</span>
          <% else %>
            <%= link_to "Services", root_path(anchor: "services"), class: "nav-link js-scroll-trigger" %>
          <% end %>
        </li>

        <li class="nav-item" data-toggle="collapse" data-target=".navbar-collapse.show">
          <% if controller_name == 'welcome' %>
            <span class="nav-link js-scroll-trigger", id="artistslink">Artists</span>
          <% else %>
            <%= link_to "Artists", root_path(anchor: "team"), class: "nav-link js-scroll-trigger" %>
          <% end %>
        </li>

        <!-- link to requests section and contact page    -->
        <li class="nav-item">
          <%= link_to "Contact", contact_path, class: "nav-link"%>
        </li>

        <!-- custom links if logged in    -->
        <% if signed_in? %>
          <!-- user section  -->
          <% if current_user.avatar? %>
            <li class="nav-item user-avatar dropdown" id="userNotify"> 
                <%= link_to image_tag(current_user.avatar_url,class: 'rounded-circle nav-img',width: '30', height: '30'), current_user, class: "nav-link", id: "navbar-dropdown", data: {toggle: "dropdown"}, aria: {haspopup: "true", expanded: "false"} %>
            
          <% else %>
            <li class="nav-item dropdown" id="userNotify"> 
                <%= link_to current_user.first_name, current_user, class: "nav-link", id: "navbar-dropdown", data: {toggle: "dropdown"}, aria: {haspopup: "true", expanded: "false"} %>        
          <% end %>

          <div class="dropdown-menu" aria-labelledby="navbar-dropdown">

            <%= link_to 'Profile', current_user, class: "nav-item nav-link" %>
            <%= link_to 'Sign out', sign_out_path, class: "nav-link nav-item", method: :delete %>
            <% if current_user.admin? || current_user.operator? %>
              <div class="dropdown-divider"></div>

              <%= link_to "Business Links", edit_business_path(@business.id), class: "nav-item nav-link" %>
              <div class="dropdown-divider"></div>
              <%= link_to "Messages", requests_path, class: "nav-item nav-link" %>
            <% end %>
            
            </div>
          <% if pending_requests > 0 && (current_user.admin? || current_user.operator?) %>
              <span class="badge badge-notify">
              </span> 
          <% end %>


          </li> 
        <% end %>



      </ul>
    </div>
  </div>
</nav>


<script>
  // scrolling effect for link
$("#inkslink").click(function() {
    $('html, body').animate({
        scrollTop: $("#gallery").offset().top
    }, 2000);
});
$("#artistslink").click(function() {
    $('html, body').animate({
        scrollTop: $("#team").offset().top
    }, 1800);
});
$("#serviceslink").click(function() {
    $('html, body').animate({
        scrollTop: $("#services").offset().top
    }, 1800);
});

</script>