<!DOCTYPE html>
<html>
  <head>
    <title>Pleasant Dreams Co. Tattoo Shop</title>
    <meta name="keywords" content="Best Tattoo Shop San Antonio, TX | Pleasant Dreams Co. &amp; Tattoo & Art Studio">
    <meta name="description" content="Pleasant Dreams Co. is San Antonio's premier tattoo shop.  Contact us Today for more Information. Se Habla Español.">
    <meta property="og:locale" content="en_US">
    <meta property="og:type" content="website">
    <meta property="og:title" content="Best Tattoo Shop San Antonio, TX | Pleasant Dreams Co. &amp; Tattoo & Art Studio">
    <meta property="og:description" content="Pleasant Dreams Co. is San Antonio's premier tattoo shop.  Contact us Today for more Information. Se Habla Español.">
    <meta property="og:url" content="https://pleasantdreams.herokuapp.com">
    <meta property="og:site_name" content="Pleasant Dreams Co">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>
    <%= favicon_link_tag 'favicon.png' %>
    <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>

    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>

    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

     <!-- font awesome style sheets -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css">
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.2.0/css/all.css" integrity="sha384-hWVjflwFxL6sNzntih27bfxkr27PmbbK/iSvJ+a4+0owXq79v+lsFkW54bOGbiDQ" crossorigin="anonymous">
    <link href="https://fonts.googleapis.com/css?family=Fira+Sans" rel="stylesheet">

    <!-- Custom fonts -->
    <link href='https://fonts.googleapis.com/css?family=Arizonia' rel='stylesheet' type='text/css'>
    <link href="https://fonts.googleapis.com/css?family=Montserrat:400,700" rel="stylesheet" type="text/css">
    <link href='https://fonts.googleapis.com/css?family=Kaushan+Script' rel='stylesheet' type='text/css'>
    <link href='https://fonts.googleapis.com/css?family=Droid+Serif:400,700,400italic,700italic' rel='stylesheet' type='text/css'>
    <link href='https://fonts.googleapis.com/css?family=Roboto+Slab:400,100,300,700' rel='stylesheet' type='text/css'>
 
  </head>


  <body class="panel-body">
    <!-- Navigation -->
    <%= render partial: '/layouts/navbar' %>  
    <!-- !Navigation -->

    <%= yield %>

    <!------------ Footer ------------>
    <%= render partial: '/layouts/footer' %>
  
  </body>

</html>
